@model RPGManagerSystem.Models.Sheet
@{
    ViewBag.Title = "Ficha - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Nome: @Model.Nome</h3>
<h3>Classe: @Model.Classe</h3>
@if (@Model.Player != null)
{
    <h3>Jogador: <a href="@Url.Action("DetalhesJogador", "Player", new { @Model.Player.Id })">@Model.Player.Nome - @Model.Player.Apelido</a></h3>
}

