@model RPGManagerSystem.ViewModels.SheetClassIndexViewModel
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova Classe", "Novo", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Classes.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Lista</th></tr>
        </thead>
        <tbody>

            @foreach (var classe in Model.Classes)
            {
                <tr>
                    <td>@Html.ActionLink(classe.Nome, "DetalhesClasse", new { classe.Id })</td>
                    <td>@Html.ActionLink("Editar", "Editar", new { classe.Id })</td>
                    <td>@Html.ActionLink("Deletar", "Deletar", new { classe.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma classe cadastrado.</p>
}