@model RPGManagerSystem.Models.Player
@{
    ViewBag.Title = "Jogador - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Nome: @Model.Nome</h3>
@if (@Model.Fichas.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Fichas</th></tr>
        </thead>
        <tbody>

            @foreach (var ficha in Model.Fichas)
            {
                <tr><td><a href="@Url.Action("DetalhesFicha", "Sheet", new { ficha.Id })">@ficha.Nome - @ficha.Classe</a></td></tr>
            }
        </tbody>
    </table>
}

