@model RPGManagerSystem.ViewModels.PlayerIndexViewModel
@{
    ViewBag.Title = "Jogadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo Jogador", "Novo", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Jogadores.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Lista</th></tr>
        </thead>
        <tbody>

            @foreach (var jogador in Model.Jogadores)
            {
                <tr>
                    <td>@Html.ActionLink(jogador.Nome+" - "+jogador.Apelido, "DetalhesJogador", new { jogador.Id })</td>
                    <td>@Html.ActionLink("Editar", "Editar", new { jogador.Id })</td>
                    <td>@Html.ActionLink("Deletar", "Deletar", new { jogador.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum jogador cadastrado.</p>
}
